body{
    background:rebeccapurple;
}
.toparea .carousel-item img{
    height: 700px;
}
.slidearea{
    height:600px;
    width: 100%;
    background:orange;
} 
.slidearea .upper{
    width: 100%;
    height: 60px;
    background: palegreen;
    margin-top: 20px;
}
.slidearea .upper h2{
    text-align: center;
    padding-top: 10px;
}
.slidearea .box{
    width: 350px;
    height: 350px;
    background: papayawhip;
    float: left;
    margin-top: 50px;
    border-radius: 20px;
}
.slidearea .box img:hover{
    transform: translateY(-40px);
}
.slidearea .box img{
    width:100%;
    height:100%;
    transition: transform 1s ease-OUT;
    border-radius: 20px;
}
.slidearea .box h3{
    margin-top: -40px;
    
}
.boxarea{
    width:100% ;
    height: 600px;
    background: lemonchiffon;
}
.boxarea .big{
    width: 1200px;
    height: 500px;
    background: burlywood;
    border-radius:0 20px 20px 0px;
}
.boxarea .big .left{
    width: 400px;
    height: 400px;
    float: left;
    margin:30px 0 0 -80px;
}
.boxarea .big .left img{
   
    width:100%;
    height:100%;
    border-radius:20px 0px 0 20px;
}
.boxarea .big .right{
    width: 600px;
    height: 480px;
    float: left;
    margin:20px 0 0 50px;
}
.darea {
    width: 100%;
    height: 1000px;
    background:palevioletred;
}
.darea .upper{
    width: 100%;
    height: 80px;
    background:rosybrown;
}
.darea .upper h2{
    text-align: center;
    margin-top: 10px;
}
.darea .box{
    width: 330px;
    height: 350px;
    background: chartreuse;
    float:left;
   margin-top: 40px;
}
.darea .box:hover{
    box-shadow: 1px 1px 6px 4px rgba(147,33,163,0.75);
}
.darea .box img{
    width: 100%;
    height: 100%;
}
.darea .lower{
    width: 100%;
    height: 50px;
    background: lemonchiffon;
    margin-top: 30px;
}
.down1area{
    height: 600px;
    background: chartreuse;
}
.down1area .left{
    width: 100%;
    height: 600px;
    background: lemonchiffon;
    float: left;
}
.down1area .right{
    width: 100%;
    height: 600px;
    background: teal;
    float: left;
}
.down1area .right .box{
    width: 200px;
    height: 200px;
    background: thistle;
    float: left;
    margin: 5px;
}
